<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>users</title>
</head>
<style type="text/css">
    table {
        border-collapse: collapse;
        font-size: 14px;
        width: 80%;
        margin: auto
    }

    table,
    th,
    td {
        border: 1px solid darkslategray;
        padding: 10px
    }
</style>

<body>
    <h1>产品详情页面</h1>

    <div>
        <h2>Spu Details</h2>
        <b>售后服务：</b><span th:text="${spuDetails.afterService}"></span><br />
        <b>包装信息: </b><span th:text="${spuDetails.packingList}"></span><br />
    </div>

    <div>
        <h2>Skus</h2>
        <table>
            <tr>
                <th>id</th><br />
                <th>title</th><br />
                <th>price</th><br />
                <th>createTime</th><br />
            </tr>
            <tr th:each="sku : ${skus}">
                <td th:text="${sku.id}">1</td><br />
                <td th:text="${sku.title}">张三</td><br />
                <td th:text="${sku.price}">男</td><br />
                <td th:text="${sku.createTime}">1980-02-30</td><br />
            </tr>
        </table>
    </div>
    <div>
        <h2>Brand</h2><br />
        <p th:text="${brand}"></p>
    </div>
    <div>
        <h2>categories</h2><br />
        <ul>
            <li th:each="category : ${categories}" th:text="${category.id + ':' + category.name}"></li>
        </ul>
    </div>
    <div>
        <h2>params</h2><br />
        <p th:text="${params}"></p>
    </div>

</body>

</html>